{% extends 'index.html.twig'%}

    {% block body %}
	<div class="col-4 mt-5">
		<div class="row">
        {{form_start(form)}}
		{{form_widget(form)}}
		<a class="btn btn-primary col-12 mt-1" href={{ path('inicio') }}>Volver</a>
		{{form_end(form)}}
		</div>
	</div>
	{% endblock %}
