{% extends 'index.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
		<h3>Indice de Jugador</h3>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href={{ path('request_team')}}>Solicitar equipo</a>
            <a class="btn btn-primary">Ver reservas</a>
            <a class="btn btn-primary">Ver partidos</a>

            {% if is_granted("ROLE_CAPITAN") %}
                <a class="btn btn-primary" href={{ path('list_players') }}>Ver solicitudes</a>
                <a class="btn btn-primary">Hacer reserva</a>
                <a class="btn btn-primary">Cancelar reserva</a>
                <a class="btn btn-primary">Apuntarse liga</a>
            {% endif %}
        </div>
{% endblock %}