{% extends 'index.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
		<div>Indice de Profesor</div>
        <a class="btn btn-primary m-1" href="{{ path('add_profesor') }}">Registrar profesor</a> <br>
        <a class="btn btn-primary m-1" href="{{ path('add_team')}}">Registrar equipo<a> <br>
        <a class="btn btn-primary m-1" >Registrar liga</a> <br>
        <a class="btn btn-primary m-1" >Cambiar vigilancia</a> <br>
        <a class="btn btn-primary m-1">Cancelar reserva</a> <br>
{% endblock %}