{% extends 'index.html.twig' %}

{% block body %}

    <script>
        function delOfTeam(button,id){
            var data = new FormData();
            data.append("id", id);

            fetch("/capitan/expulsarJugador", {
                method: "POST",
                body: data
            })
            .then(() => {
                button.parentNode.remove();
            })
            .catch(error => console.log(error))
        };
    </script>

<div class="col-6">
    <ul class="list-group list-group-flush">
        {% for jugador in jugadores %}
             <li class="list-group-item d-flex justify-content-between">
                {{jugador.nombre}}
                {% for rol in jugador.roles %}
                    {% if rol == "ROLE_JUGADOR" %}
                        <a class="btn btn-danger" onclick="delOfTeam(this,'{{jugador.id}}')">Expulsar</a>
                    {% endif %}
                {% endfor %}
             </li>   
        {% endfor %}
    </ul>
     <a class="btn btn-primary col-12 mt-1" href={{ path('inicio') }}>Volver</a>
</div>
{% endblock %}