{% extends 'index.html.twig' %}

{% block body %}
<script>

        function addUserToTeam(button,id){ 

          var data = new FormData();
          data.append("id",id);

          fetch("/capitan/fichar",{
              method: "POST",
              body: data
          })
          .then( data => {
              button.parentNode.remove();
          })
          .catch( error => { console.log(error) });
        };

        function delUserToRequest(button,id){ 

          var data = new FormData();
          data.append("id",id);

          fetch("/capitan/eliminar",{
              method: "POST",
              body: data
          })
          .then( () => {
              button.parentNode.remove();
          })
          .catch( error => { console.log(error) });
        };
      
    </script>
    <div class="col-6">
    {% for usuario in solicitudes %}
      <div class = "row">
        <h3 class="col-auto">{{usuario.nombre}}</h3>
        <a class=" btn btn-primary col-auto m-1" onclick="addUserToTeam(this,'{{usuario.id}}')">Añadir</a>
        <a class=" btn btn-danger col-auto m-1" onclick="delUserToRequest(this,'{{usuario.id}}')">Eliminar</a>
      </div>
  {% endfor %}
  <a class="btn btn-primary col-12 mt-1" href={{ path('inicio') }}>Volver</a>
  </div>
{% endblock %}
